<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Analyze your winning strategies </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Strategy criteria</a></h2>
    <div id="strategyCriteria">
      <div>
        <div><label>Symbol :</label></div> <div><input type="text" pInputText [(ngModel)]= "symbol"/></div>
      </div>
      <div>
        <div><label>Start Date:</label></div> <div><p-calendar [(ngModel)] ="startDate"></p-calendar></div>
      </div>
      <div>
        <div><label>End Date:</label></div> <div><p-calendar [(ngModel)] ="endDate"></p-calendar></div>
      </div>
      <div>
        <p-button label ="compute"></p-button>
      </div>
    </div>
    
  </li>
</ul>

