#strategyCriteria div {
    clear: left;
    margin: 0;
    padding: 0;
    padding-top: 0.6em;
}

#strategyCriteria label {
    float: left;
    width: 40%;
    font: bold 0.9em Arial, Helvetica, sans-serif;
}